.header {
  display: flex;
  margin-top: 9px;
  align-items: center;
}
.fontLink {
  font-family: "Tilt Prism", cursive;
  font-size: 40px;
  background-color: powderblue;
  padding-left: 2%;
  display: flex;
}
.cartStyle {
  position: absolute;
  left: 14;
  right: 14;
  width: 14;
  height: 14;
  border-radius: 7;
  font-size: 12;
  font-weight: 400;
  text-align: center;
}
.searchText {
  padding-right: 80%;
  margin-left: 100%;
}
.likeBtn {
  margin-left: 100%;
}
.headerBottom {
  background-color: azure;
  padding: 5px;
  height: 30px;
  display: flex;
  gap: 25px;
}

.search {
  margin-left: 100%;
  padding-left: 185%;
  margin-top: -20px;
}
